<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <!-- Always force latest IE rendering engine (even in intranet) and Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>{{ apiName }}</title>
    <link rel="icon" href="{{ asset('assets/frontend/img/icons/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.css"/>
    <style type="text/css">
        {{ css|raw }}

        body p,
        .alert,
        .well {
            font-size: 14px;
            line-height: 1.475em;
        }

        pre {
            font-size: 13px;
            border: none;
        }

        body code {
            border: none;
            padding-left: 4px;
            padding-right: 4px;
        }

        pre,
        .well {
            margin-left: -50px;
            margin-right: -50px;
            padding: 20px 50px;
            border-radius: 0;
        }

        #resources {
            padding: 0;
            font-family: inherit;
            font-size: inherit;
        }

        .panes .pane.content {
            border: transparent;
        }

        .modal {
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
            z-index: 1;
            display: block;
        }

        li.operation .heading h3 {
            line-height: inherit;
        }

        .modal-dialog {
            width: 98%;
            margin: 20px auto;
        }

        .modal-body {
            padding: 50px;
        }

        .navbar-inverse .navbar-brand {
            color: #FFF;
        }

    </style>
    <script type="text/javascript">
        {{ js|raw }}
    </script>
</head>

<body>

<header class="navbar-inverse" style="height: 380px; width: 100%; position: absolute;">
    <nav class="navbar navbar-inverse" style="box-shadow: none;">
        <div class="container">
            <h1 href="javascript:void(0)" class="navbar-brand pull-right" style="    padding: 40px 15px;text-align: center;width: 100%;font-size: 40px;">{{ apiName }} - Documentation</h1>
        </div>
    </nav>
</header>

<div class="well">

    <div class="container" id="resources_container">

        <div class="modal body" style="margin-top: 60px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">

                        <h1>Important informations</h1>

                        <br>

                        <h2>Requests</h2>
                        <br>
                        <p>
                            In all requests you need to send the <code>-H "Content-Type: application/json"</code> and
                            <code>-H "Accept: application/json"</code> headers as in the example below:
                        </p>
                        <pre>
curl -X GET \ 
 -H "Content-Type: application/json" \
 -H "Accept: application/json" \
 "/api/clients?access_token=MDRiY2Fj...E0M2Y2Yw"</pre>

                        <p>
                            The <code>access_token</code> parameter must also be sent on all requests, however, this
                            will be seen next.

                        </p>

                        <br>

                        <h2>Authentication - OAuth2</h2>

                        <br>

                        <p>
                            O padrão de autenticação utilizado é através do <a href="//oauth.net/2/" target="_blank">OAuth2</a>,
                            sendo assim,
                            para acessar qualquer recurso será necessário obter o código <code>access_token</code> para
                            enviá-lo por parâmetro
                            em cada requisição.
                        </p>

                        <p>
                            The authentication pattern used is <a href="//oauth.net/2/" target="_blank"> OAuth2 </a>,
                            to access any resource you will need to get the code <code>access_token</code> to send it by
                            parameter
                            on each request.
                        </p>

                        <p>
                            This <code>access_token</code> is obtained as follows:<br>
                        </p>
                        <pre>
curl -X GET \
  -H "Content-Type: application/json" \
  -H "Accept: application/json" \
  "/oauth/v2/token?grant_type=password&client_id=_SEU_CLIENT_ID_&client_secret=_SEU_CLIENT_SECRET_&username=_SEU_USERNAME_&password=_SUA_PASSWORD_"</pre>


                        <p>
                            When requesting the access_token, you will receive a return similar to:
                        </p>

                        <pre>
{
  "access_token": "MDRiY2FjMTMzMmI4ZjVkMDg4NjMwYTY4N2VmNmE3MDczNmM0YWY5NGNiY2Y0YzkxZGM0N2NiNTQzMWE0M2Y2Yw",
  "expires_in": 3600,
  "token_type": "bearer",
  "scope": "user",
  "refresh_token": "OGQ3NjU4MTgyYzg3NWQ5OWI5MmI4ZDcwNTg0NjRkZjMxMmRhNTk4NjE0MjhjMTg0ZDA2NDk5YzMyNDIyMWQzMA"
}</pre>

                        <p>
                            Having the access_token, it will be possible to access some information of the e-commerce.
                        </p>

                        <h2>Resource documentation</h2>

                        <h3>Request HTTP status code table</h3>

                        <p>The pattern of responses to successful requests will be 200 and 201.</p>

                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="http://en.wikipedia.org/wiki/HTTP_200" target="_blank">200</a></td>
                                <td>
                                    <ul>
                                        <li>Returned when successful</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="http://en.wikipedia.org/wiki/HTTP_201" target="_blank">201</a></td>
                                <td>
                                    <ul>
                                        <li>Returned when successful</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="http://en.wikipedia.org/wiki/HTTP_400" target="_blank">400</a></td>
                                <td>
                                    <ul>
                                        <li>Returned when the request does not agree</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="http://en.wikipedia.org/wiki/HTTP_401" target="_blank">401</a></td>
                                <td>
                                    <ul>
                                        <li>Returned when token is invalid or expired</li>
                                    </ul>
                                </td>
                            </tr>
                            <td><a href="http://en.wikipedia.org/wiki/HTTP_404" target="_blank">404</a></td>
                            <td>
                                <ul>
                                    <li>Returned when the record was not found</li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                                <td><a href="http://en.wikipedia.org/wiki/HTTP_405" target="_blank">405</a></td>
                                <td>
                                    <ul>
                                        <li>Returned there is no access permission with the sent method</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="http://en.wikipedia.org/wiki/HTTP_500" target="_blank">500</a></td>
                                <td>
                                    <ul>
                                        <li>Returned when there is an API error</li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <ul id="resources">
                            {% block content %}{% endblock %}
                        </ul>

                    </div>
                    <br>
                    <div class="jumbotron" style="margin-bottom: 0;">
                        <div class="container">
                            <h2> Questions and contact </h2>
                                                        
                            <p> If you have any questions, please send an email to
                                <a href="mailto: raul.cabrera.miranda@gmail.com">
                                    raul.cabrera.miranda@gmail.com
                                </a>
                                with your doubt that we will answer you as soon aspossible.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var getHash = function () {
        return window.location.hash || '';
    };

    var setHash = function (hash) {
        window.location.hash = hash;
    };

    var clearHash = function () {
        var scrollTop, scrollLeft;

        if (typeof history === 'object' && typeof history.pushState === 'function') {
            history.replaceState('', document.title, window.location.pathname + window.location.search);
        } else {
            scrollTop = document.body.scrollTop;
            scrollLeft = document.body.scrollLeft;

            setHash('');

            document.body.scrollTop = scrollTop;
            document.body.scrollLeft = scrollLeft;
        }
    };

    $(window).load(function () {
        var id = getHash().substr(1).replace(/([:\.\[\]\{\}|])/g, "\\$1");
        var elem = $('#' + id);
        if (elem.length) {
            setTimeout(function () {
                $('body,html').scrollTop(elem.position().top);
            });
            elem.find('.toggler').click();
            var section = elem.parents('.section').first();
            if (section) {
                section.addClass('active');
                section.find('.section-list').slideDown('fast');
            }
        }
        {% if enableSandbox %}
        loadStoredAuthParams();
        {% endif %}
    });

    $('.toggler').click(function (event) {
        var contentContainer = $(this).next();

        if (contentContainer.is(':visible')) {
            clearHash();
        } else {
            setHash($(this).data('href'));
        }

        contentContainer.slideToggle('fast');
        return false;
    });

    $('.action-show-hide, .section > h1').on('click', function () {
        var section = $(this).parents('.section').first();
        if (section.hasClass('active')) {
            section.removeClass('active');
            section.find('.section-list').slideUp('fast');
        } else {
            section.addClass('active');
            section.find('.section-list').slideDown('fast');
        }

    });

    $('.action-list').on('click', function () {
        var section = $(this).parents('.section').first();
        if (!section.hasClass('active')) {
            section.addClass('active');
        }
        section.find('.section-list').slideDown('fast');
        section.find('.operation > .content').slideUp('fast');
    });

    $('.action-expand').on('click', function () {
        var section = $(this).parents('.section').first();
        if (!section.hasClass('active')) {
            section.addClass('active');
        }
        $(section).find('ul').slideDown('fast');
        $(section).find('.operation > .content').slideDown('fast');
    });

    {% if enableSandbox %}
    var getStoredValue, storeValue, deleteStoredValue;
    var apiAuthKeys = ['api_key', 'api_login', 'api_pass', 'api_endpoint'];

    if ('localStorage' in window) {
        var buildKey = function (key) {
            return 'nelmio_' + key;
        }

        getStoredValue = function (key) {
            return localStorage.getItem(buildKey(key));
        }

        storeValue = function (key, value) {
            localStorage.setItem(buildKey(key), value);
        }

        deleteStoredValue = function (key) {
            localStorage.removeItem(buildKey(key));
        }
    } else {
        getStoredValue = storeValue = deleteStoredValue = function () {
        };
    }

    var loadStoredAuthParams = function () {
        $.each(apiAuthKeys, function (_, value) {
            var elm = $('#' + value);
            if (elm.length) {
                elm.val(getStoredValue(value));
            }
        });
    }

    var setParameterType = function ($context, setType) {
        // no 2nd argument, use default from parameters
        if (typeof setType == "undefined") {
            setType = $context.parent().attr("data-dataType");
            $context.val(setType);
        }

        $context.parent().find('.value').remove();
        var placeholder = "";
        if ($context.parent().attr("data-dataType") != "" && typeof $context.parent().attr("data-dataType") != "undefined") {
            placeholder += "[" + $context.parent().attr("data-dataType") + "] ";
        }
        if ($context.parent().attr("data-format") != "" && typeof $context.parent().attr("data-format") != "undefined") {
            placeholder += $context.parent().attr("data-format");
        }
        if ($context.parent().attr("data-description") != "" && typeof $context.parent().attr("data-description") != "undefined") {
            placeholder += $context.parent().attr("data-description");
        } else {
            placeholder += "Value";
        }

        switch (setType) {
            case "boolean":
                $('<select class="value"><option value=""></option><option value="1">True</option><option value="0">False</option></select>').insertAfter($context);
                break;
            case "file":
                $('<input type="file" class="value" placeholder="' + placeholder + '">').insertAfter($context);
                break;
            case "textarea":
                $('<textarea class="value" placeholder="' + placeholder + '" />').insertAfter($context);
                break;
            default:
                $('<input type="text" class="value" placeholder="' + placeholder + '">').insertAfter($context);
        }
    };

    var toggleButtonText = function ($btn) {
        if ($btn.text() === 'Default') {
            $btn.text('Raw');
        } else {
            $btn.text('Default');
        }
    };

    var renderRawBody = function ($container) {
        var rawData, $btn;

        rawData = $container.data('raw-response');
        $btn = $container.parents('.pane').find('.to-raw');

        $container.addClass('prettyprinted');
        $container.html($('<div/>').text(rawData).html());

        $btn.removeClass('to-raw');
        $btn.addClass('to-prettify');

        toggleButtonText($btn);
    };

    var renderPrettifiedBody = function ($container) {
        var rawData, $btn;

        rawData = $container.data('raw-response');
        $btn = $container.parents('.pane').find('.to-prettify');

        $container.removeClass('prettyprinted');
        $container.html(attachCollapseMarker(prettifyResponse(rawData)));
        prettyPrint && prettyPrint();

        $btn.removeClass('to-prettify');
        $btn.addClass('to-raw');

        toggleButtonText($btn);
    };

    var unflattenDict = function (body) {
        var found = true;
        while (found) {
            found = false;

            for (var key in body) {
                var okey;
                var value = body[key];
                var dictMatch = key.match(/^(.+)\[([^\]]+)\]$/);

                if (dictMatch) {
                    found = true;
                    okey = dictMatch[1];
                    var subkey = dictMatch[2];
                    body[okey] = body[okey] || {};
                    body[okey][subkey] = value;
                    delete body[key];
                } else {
                    body[key] = value;
                }
            }
        }
        return body;
    };

    $('#save_api_auth').click(function (event) {
        $.each(apiAuthKeys, function (_, value) {
            var elm = $('#' + value);
            if (elm.length) {
                storeValue(value, elm.val());
            }
        });
    });

    $('#clear_api_auth').click(function (event) {
        $.each(apiAuthKeys, function (_, value) {
            deleteStoredValue(value);
            var elm = $('#' + value);
            if (elm.length) {
                elm.val('');
            }
        });
    });

    $('.tabs li').click(function () {
        var contentGroup = $(this).parents('.content');

        $('.pane.selected', contentGroup).removeClass('selected');
        $('.pane.' + $(this).data('pane'), contentGroup).addClass('selected');

        $('li', $(this).parent()).removeClass('selected');
        $(this).addClass('selected');
    });

    var getJsonCollapseHtml = function (sectionOpenCharacter) {
        var $toggler = $('<span>').addClass('json-collapse-section').attr('data-section-open-character', sectionOpenCharacter).append($('<span>').addClass('json-collapse-marker')
            .html('&#9663;')
        ).append(sectionOpenCharacter);
        return $('<div>').append($toggler).html();
    };

    var attachCollapseMarker = function (prettifiedJsonString) {
        prettifiedJsonString = prettifiedJsonString.replace(/(\{|\[)\n/g, function (match, sectionOpenCharacter) {
            return getJsonCollapseHtml(sectionOpenCharacter) + '<span class="json-collapse-content">\n';
        });
        return prettifiedJsonString.replace(/([^\[][\}\]],?)\n/g, '$1</span>\n');
    };

    var prettifyResponse = function (text) {
        try {
            var data = typeof text === 'string' ? JSON.parse(text) : text;
            text = JSON.stringify(data, undefined, '  ');
        } catch (err) {
        }

        // HTML encode the result
        return $('<div>').text(text).html();
    };

    var displayFinalUrl = function (xhr, method, url, data, container) {
        container.text(method + ' ' + getFinalUrl(method, url, data));
    };

    var displayRequestBody = function (method, data, container, header) {
        if ('GET' != method && !jQuery.isEmptyObject(data) && data !== "" && data !== undefined) {
            if (jQuery.type(data) !== 'string') {
                data = decodeURIComponent(jQuery.param(data));
            }

            container.text(data);
            container.show();
            header.show();
        } else {
            container.hide();
            header.hide();
        }
    };

    var displayProfilerUrl = function (xhr, link, container) {
        var profilerUrl = xhr.getResponseHeader('X-Debug-Token-Link');
        if (profilerUrl) {
            link.attr('href', profilerUrl);
            container.show();
        } else {
            link.attr('href', '');
            container.hide();
        }
    };

    var displayResponseData = function (xhr, container) {
        var data = xhr.responseText;

        container.data('raw-response', data);

        renderPrettifiedBody(container);

        container.parents('.pane').find('.to-prettify').text('Raw');
        container.parents('.pane').find('.to-raw').text('Raw');
    };

    var displayResponseHeaders = function (xhr, container) {
        var text = xhr.status + ' ' + xhr.statusText + "\n\n";
        text += xhr.getAllResponseHeaders();

        container.text(text);
    };

    var displayCurl = function (method, url, headers, data, result_container) {
        var escapeShell = function (param) {
            param = "" + param;
            return '"' + param.replace(/(["\s'$`\\])/g, '\\$1') + '"';
        };

        url = getFinalUrl(method, url, data);

        var command = "curl";
        command += " -X " + escapeShell(method);

        if (method != "GET" && !jQuery.isEmptyObject(data) && data !== "" && data !== undefined) {
            if (jQuery.type(data) !== 'string') {
                data = decodeURIComponent(jQuery.param(data));
            }
            command += " -d " + escapeShell(data);
        }

        for (headerKey in headers) {
            if (headers.hasOwnProperty(headerKey)) {
                command += " -H " + escapeShell(headerKey + ': ' + headers[headerKey]);
            }
        }

        command += " " + url;

        result_container.text(command);
    };

    var getFinalUrl = function (method, url, data) {
        if ('GET' == method && !jQuery.isEmptyObject(data)) {
            var separator = url.indexOf('?') >= 0 ? '&' : '?';
            url = url + separator + decodeURIComponent(jQuery.param(data));
        }

        return url;
    };

    var displayResponse = function (xhr, method, url, headers, data, result_container) {
        displayFinalUrl(xhr, method, url, data, $('.url', result_container));
        displayRequestBody(method, data, $('.request-body', result_container), $('.request-body-header', result_container));
        displayProfilerUrl(xhr, $('.profiler-link', result_container), $('.profiler', result_container));
        displayResponseData(xhr, $('.response', result_container));
        displayResponseHeaders(xhr, $('.headers', result_container));
        displayCurl(method, url, headers, data, $('.curl-command', result_container));

        result_container.show();
    };

    $('.pane.sandbox form').submit(function () {
        var url = $(this).attr('action'),
            method = $('[name="header_method"]', this).val(),
            self = this,
            params = {},
            formData = new FormData(),
            doubledParams = {},
            headers = {},
            content = $(this).find('textarea.content').val(),
            result_container = $('.result', $(this).parent());

        if (method === 'ANY') {
            method = 'POST';
        }

        // set requestFormat
        var requestFormatMethod = '{{ requestFormatMethod }}';
        if (requestFormatMethod == 'format_param') {
            params['_format'] = $('#request_format option:selected').text();
            formData.append('_format', $('#request_format option:selected').text());
        } else if (requestFormatMethod == 'accept_header') {
            headers['Accept'] = $('#request_format').val();
        }

        // set default bodyFormat
        var bodyFormat = $('#body_format').val() || '{{ defaultBodyFormat }}';

        if (!('Content-type' in headers)) {
            if (bodyFormat == 'form') {
                headers['Content-type'] = 'application/x-www-form-urlencoded';
            } else {
                headers['Content-type'] = 'application/json';
            }
        }

        var hasFileTypes = false;
        $('.parameters .tuple_type', $(this)).each(function () {
            if ($(this).val() == 'file') {
                hasFileTypes = true;
            }
        });

        if (hasFileTypes && method != 'POST') {
            alert("Sorry, you can only submit files via POST.");
            return false;
        }

        if (hasFileTypes && bodyFormat != 'form') {
            alert("Body Format must be set to 'Form Data' when utilizing file upload type parameters.\nYour current bodyFormat is '" + bodyFormat + "'. Change your BodyFormat or do not use file type\nparameters.");
            return false;
        }

        if (hasFileTypes) {
            // retrieve all the parameters to send for file upload
            $('.parameters .tuple', $(this)).each(function () {
                var key, value;

                key = $('.key', $(this)).val();
                if ($('.value', $(this)).attr('type') === 'file') {
                    value = $('.value', $(this)).prop('files')[0];
                    if (!value) {
                        value = new File([], '');
                    }
                } else {
                    value = $('.value', $(this)).val();
                }

                if (value) {
                    formData.append(key, value);
                }
            });
        }


        // retrieve all the parameters to send
        $('.parameters .tuple', $(this)).each(function () {
            var key, value;

            key = $('.key', $(this)).val();
            value = $('.value', $(this)).val();

            if (value) {
                // temporary save all additional/doubled parameters
                if (key in params) {
                    doubledParams[key] = value;
                } else {
                    params[key] = value;
                }
            }
        });


        // retrieve the additional headers to send
        $('.headers .tuple', $(this)).each(function () {
            var key, value;

            key = $('.key', $(this)).val();
            value = $('.value', $(this)).val();

            if (value) {
                headers[key] = value;
            }

        });

        // fix parameters in URL
        for (var key in $.extend({}, params)) {
            if (url.indexOf('{' + key + '}') !== -1) {
                url = url.replace('{' + key + '}', params[key]);
                delete params[key];
            }
        }
        ;

        // merge additional params back to real params object
        if (!$.isEmptyObject(doubledParams)) {
            $.extend(params, doubledParams);
        }

        // disable all the fiels and buttons
        $('input, button', $(this)).attr('disabled', 'disabled');

        // append the query authentication
        var api_key_val = $('#api_key').val();
        if (authentication_delivery == 'query' && api_key_val.length > 0) {
            url += url.indexOf('?') > 0 ? '&' : '?';
            url += api_key_parameter + '=' + api_key_val;
        }

        // prepare the api enpoint
        {% if endpoint == '' and app.request is not null and app.request.host -%}
        var endpoint = '{{ app.request.getBaseUrl() }}';
        {% else -%}
        var endpoint = '{{ endpoint }}';
        {% endif -%}
        {% if authentication and authentication.custom_endpoint %}
        if ($('#api_endpoint') && typeof($('#api_endpoint').val()) != 'undefined') {
            endpoint = $('#api_endpoint').val();
        }
        {% endif %}

        // prepare final parameters
        var body = {};
        if (bodyFormat == 'json' && method != 'GET') {
            body = unflattenDict(params);
            body = JSON.stringify(body);
        } else {
            body = params;
        }
        var data = content.length ? content : body;
        var ajaxOptions = {
            url: (url.indexOf('http') != 0 ? endpoint : '') + url,
            xhrFields: {withCredentials: true},
            type: method,
            data: data,
            headers: headers,
            crossDomain: true,
            beforeSend: function (xhr) {
                if (authentication_delivery) {
                    var value;

                    if ('http' == authentication_delivery) {
                        if ('basic' == authentication_type) {
                            value = 'Basic ' + btoa($('#api_login').val() + ':' + $('#api_pass').val());
                        } else if ('bearer' == authentication_type) {
                            value = 'Bearer ' + $('#api_key').val();
                        }
                    } else if ('header' == authentication_delivery) {
                        value = $('#api_key').val();
                    }

                    xhr.setRequestHeader(api_key_parameter, value);
                }
            },
            complete: function (xhr) {
                displayResponse(xhr, method, url, headers, data, result_container);

                // and enable them back
                $('input:not(.content-type), button', $(self)).removeAttr('disabled');
            }
        };

        // overrides body format to send data properly
        if (hasFileTypes) {
            ajaxOptions.data = formData;
            ajaxOptions.processData = false;
            ajaxOptions.contentType = false;
            delete(headers['Content-type']);
        }

        // and trigger the API call
        $.ajax(ajaxOptions);

        return false;
    });

    $('.operations').on('click', '.operation > .heading', function (e) {
        if (history.pushState) {
            history.pushState(null, null, $(this).data('href'));
            e.preventDefault();
        }
    });

    $(document).on('click', '.json-collapse-section', function () {
        var openChar = $(this).data('section-open-character'),
            closingChar = (openChar == '{' ? '}' : ']');
        if ($(this).next('.json-collapse-content').is(':visible')) {
            $(this).html('&oplus;' + openChar + '...' + closingChar);
        } else {
            $(this).html('&#9663;' + $(this).data('section-open-character'));
        }
        $(this).next('.json-collapse-content').toggle();
    });

    $(document).on('copy', '.prettyprinted', function () {
        var $toggleMarkers = $(this).find('.json-collapse-marker');
        $toggleMarkers.hide();
        setTimeout(function () {
            $toggleMarkers.show();
        }, 100);
    });

    $('.pane.sandbox').on('click', '.to-raw', function (e) {
        renderRawBody($(this).parents('.pane').find('.response'));

        e.preventDefault();
    });

    $('.pane.sandbox').on('click', '.to-prettify', function (e) {
        renderPrettifiedBody($(this).parents('.pane').find('.response'));

        e.preventDefault();
    });

    $('.pane.sandbox').on('click', '.to-expand, .to-shrink', function (e) {
        var $headers = $(this).parents('.result').find('.headers');
        var $label = $(this).parents('.result').find('a.to-expand');

        if ($headers.hasClass('to-expand')) {
            $headers.removeClass('to-expand');
            $headers.addClass('to-shrink');
            $label.text('Shrink');
        } else {
            $headers.removeClass('to-shrink');
            $headers.addClass('to-expand');
            $label.text('Expand');
        }

        e.preventDefault();
    });


    // sets the correct parameter type on load
    $('.pane.sandbox .tuple_type').each(function () {
        setParameterType($(this));
    });


    // handles parameter type change
    $('.pane.sandbox').on('change', '.tuple_type', function () {
        setParameterType($(this), $(this).val());
    });


    $('.pane.sandbox').on('click', '.add_parameter', function () {
        var html = $(this).parents('.pane').find('.parameters_tuple_template').html();

        $(this).before(html);

        return false;
    });

    $('.pane.sandbox').on('click', '.add_header', function () {
        var html = $(this).parents('.pane').find('.headers_tuple_template').html();

        $(this).before(html);

        return false;
    });

    $('.pane.sandbox').on('click', '.remove', function () {
        $(this).parent().remove();
    });

    $('.pane.sandbox').on('click', '.set-content-type', function (e) {
        var html;
        var $element;
        var $headers = $(this).parents('form').find('.headers');
        var content_type = $(this).prev('input.value').val();

        e.preventDefault();

        if (content_type.length === 0) {
            return;
        }

        $headers.find('input.key').each(function () {
            if ($.trim($(this).val().toLowerCase()) === 'content-type') {
                $element = $(this).parents('p');
                return false;
            }
        });

        if (typeof $element === 'undefined') {
            html = $(this).parents('.pane').find('.tuple_template').html();

            $element = $headers.find('legend').after(html).next('p');
        }

        $element.find('input.key').val('Content-Type');
        $element.find('input.value').val(content_type);

    });

    {% if authentication and authentication.delivery == 'http' %}
    var authentication_delivery = '{{ authentication.delivery }}';
    var api_key_parameter = '{{ authentication.name }}';
    var authentication_type = '{{ authentication.type }}';
    {% elseif authentication and authentication.delivery == 'query' %}
    var authentication_delivery = '{{ authentication.delivery }}';
    var api_key_parameter = '{{ authentication.name }}';
    var search = window.location.search;
    var api_key_start = search.indexOf(api_key_parameter) + api_key_parameter.length + 1;

    if (api_key_start > 0) {
        var api_key_end = search.indexOf('&', api_key_start);

        var api_key = -1 == api_key_end
            ? search.substr(api_key_start)
            : search.substring(api_key_start, api_key_end);

        $('#api_key').val(api_key);
    }
    {% elseif authentication and authentication.delivery == 'header' %}
    var authentication_delivery = '{{ authentication.delivery }}';
    var api_key_parameter = '{{ authentication.name }}';
    {% else %}
    var authentication_delivery = false;
    {% endif %}
    {% endif %}
</script>
</body>
</html>
